body {
  background-color: #fff;
  color: #333;
  font-family: HelveticaNeue, helvetica, verdana, arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul {
  font-family: HelveticaNeue,helvetica, verdana, arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
}

td {
  font-family: HelveticaNeue,helvetica, verdana, arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

$banner-padding: 14px;

.banner {
  width: 100%;
  padding: $banner-padding;
  background: #822;
  color: white;
  font-size: 20pt;
  font-family: HelveticaNeue,Helvetica,Arial,sans-serif;
  font-weight: 500;
  
  & a {
    &:hover {
      background: #822;
      color: gray;
    }
    &:link {
      background: #822;
      text-decoration: none;
    }
    &:visited { 
      color: white; 
    }
  }
}

$form-header-font-size: 26px;
$form-header-height: 1.1 * $form-header-font-size;

#form-header {
  background: #228;
  color: white;
  width: 100%;
  font-size: $form-header-font-size;
  height: $form-header-height;
  padding: $banner-padding;
  margin-bottom: 1em;
  
  #all-content {
    font-weight: 200;
  }
  
  #first-name {
    font-weight: 100;
  }
  
  #last-name {
    font-weight: 700;
  }
}

